body {
    background-color: #202022;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    -webkit-app-region: no-drag;
}

/* Navigation */
nav {
    overflow: hidden;
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #29292d;
    -webkit-app-region: drag;
}

.nav-link {
    padding: 18px;
    cursor: pointer;
    font-size: rem;
    -webkit-app-region: no-drag;
}

.close:hover {
    background-color: #e90a0a;
    color: white
}

.minus:hover{
    background-color: #323238;
    color: white
}

.settings:hover {
    background-color: #e89c0e;
    color: white;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}