body {
    background-color: #202022;
    margin: 0%;
    padding: 0%;
    -webkit-app-region: no-drag;
}

/* Navigation */
nav {
    width: 100vw;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: greenyellow; */
    -webkit-app-region: drag;
}

.nav-link {
    padding: 15px;
    cursor: pointer;
    font-size: 1.2rem;
    -webkit-app-region: no-drag;
}

.nav-link:hover {
    background-color: #202022;
    color: red
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}