body {
    background-color: #202022;
    margin: 0%;
    padding: 0%;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

.titlebar {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 4.7vh;
    line-height: 4.6vh;
    white-space: nowrap;
    background-color: greenyellow;
}

p {
    color: white
}